:root {
  font-family: "Inter", sans-serif;
  font-size: 8px;
  --body-background: #304038;
  --light: #CCD4CC;
  --dark: #2B2729;
  --highlight: #CCEE88;
}

body {
  background-color: var(--body-background);
  font-size: 2rem;
  height: 100%;
  margin: 0;
}

h1 {
  font-family: "Estonia", cursive;
  font-size: 8rem;
  font-weight: 400;
  font-style: italic;
  color: var(--highlight);
  width: calc(40vw - 80px);
  margin: 0;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
}

nav {
  background-color: var(--dark);
  box-shadow: 4px 8px 4px #00000044;
  height: 80px;
  width: 60vw;
  min-width: 500px;
  border-radius: 15px 0 0 15px;
  margin: 0;
  padding-right: 80px;
  position: absolute;
  top: 40px;
  right: 0;
}

nav ul {
  height: 80px;
  margin: 0;
  padding:0;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

nav a {
  color: var(--light);
  font-size: 3rem;
  font-weight: 500;
  text-decoration: underline;
}

nav a.active {
  color: var(--highlight);
  text-decoration: none;
}

footer {
  text-align: center;
  line-height: 40px;
  font-weight: 600;
}

main, .main {
  background-color: var(--light);
  box-shadow: inset 0 0 12px 4px #00000088;
  width: calc(94vw - 160px);
  min-height: calc(100vh - 3vw - 138px);
  border-radius: 3vw;
  margin: 80px auto 10px;
  padding: 1rem 3vw 3vw
}

header {
  width: calc(37vw - 160px)
}

h2 {
  font-family: "Halant", serif;
  font-size: 6rem;
  margin: 1rem auto;
  text-align: center;
}

p {
  color: var(--dark);
  text-align: justify;
  font-size: 2.5rem;
  padding: 3vw;
  margin: 0;
}

img.selfPicture {
  width: calc(40vw - 200px);
  max-width: 400px;
  object-fit: contain;
  float: left;
  margin: 1rem 40px 30px;
  border-radius: 40px;
  border: 5px solid var(--body-background)
}

.portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.project-card {
  width: 500px;
  height: 375px;
  position: relative;
  margin: 20px
}

.project-card img {
  width: inherit;
  height:inherit;
  object-fit: cover;
}

.repo-info {
  opacity: 0;
  transition: opacity .5s;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #00000088;
}

.repo-info:hover {
  opacity: 1;
}

h3 {
  color: var(--light);
  position: absolute;
  margin: 0;
  bottom: 40%;
  width: 100%;
  text-align: center;
  font-size: 4rem
}

.repo-info > div {
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  font-size: 3rem;
  height: 40%;
  align-items: center;
}

.repo-info a {
  color: var(--highlight)
}